@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background-color: #fff;
  overflow: hidden;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  padding: 16px;
  text-decoration: none;
  color: black;
}

.menu li a:hover {
  background-color: #b39c9c3d;
}

.right-menu {
  display: flex;
  align-items: center;
}

.search-form {
  margin-right: 20px;
  display: flex;
}

.searchinput[type="text"] {
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-form button {
  padding: 8px 15px;
  height: 32px;
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-form button:hover {
  background-color: black;
}

.language-selector a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.language-selector a + a {
  margin-left: 5px;
}

.language-selector a:hover {
  background-color: #b39c9c3d;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 50px;
}

h1 {
  text-align: center;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.footer {
  background-color: #333;
  color: #fff;
  margin-top: 60px;
  text-align: center;
  padding: 20px 0;
  bottom: 0%;
  height: auto;
  width: 100%;
}
