<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'about.css' %}" />
  </head>
  <body>
    <nav>
      <img src="media/images/coffee.png" alt="Logo" class="logo" />
      <ul class="menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <div class="right-menu">
        <form class="search-form">
          <input type="text" placeholder="Search..." />
          <button type="submit">Search</button>
        </form>
        <div class="language-selector">
          <a href="#">En</a> | <a href="#">Ru</a>
        </div>
      </div>
    </nav>

    <section>
      <div class="about-container">
        <div class="image-container">
          <img src="media/images/about.jpg" alt="Example Image" />
        </div>
        <div class="text-container">
          <h1>
            Biznesingiz uchun dasturiy <br />
            ta'minot ishlab chiqamiz
          </h1>
          <p class="subtext">
            Mijozlarimizning bizni xizmatimizdan foydalanishlarini asosiy
            sabablaridan biri BlaBla jamoasi har bir mijozga individual
            yondashadi va talabidan kelib chiqib dasturni moslab beradi.
            Shuningdek tajribali mutaxasislar har bir talab boʼyicha eng foydali
            va kerakli yechimlarni mijozlarga taqdim etishadi.<br /><br />Har
            bir biznesga tuzilgan dasturiy taʼminot oʼz ichiga olgan korxonaning
            moliyaviy, buxgalteriya, xodimlar, sotuv, mijozlar bilan ishlash
            boʼlimlari va boshqa qo’shimcha qurilmalar, boshqa dasturlar bilan
            integratsiya qilish imkoniyati mavjudligi bilan boshqa dasturiy
            taʼminotlardan ajralib turadi.
          </p>
          <p class="dots">
            <img class="check" src="media/images/checklist.png" alt="Check" />
            Sifatli qo'llab-quvvatlash <br />
            <img class="check" src="media/images/checklist.png" alt="Check" />
            Professional jamoa
          </p>
          <button class="my-button">So'rov Qoldirish</button>
        </div>
      </div>
    </section>

    <div class="footer">
      <p>&copy; 2024 </p>
    </div>
  </body>
</html>
