<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'contact.css' %}" />
  </head>
  <body>
    <nav>
      <img src="media/images/coffee.png" alt="Logo" class="logo" />
      <ul class="menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <div class="right-menu">
        <form class="search-form">
          <input class="searchinput" type="text" placeholder="Search..." />
          <button type="submit">Search</button>
        </form>
        <div class="language-selector">
          <a href="#">En</a> | <a href="#">Ru</a>
        </div>
      </div>
    </nav>

    <section>
      <div class="container">
        <h1>Contact Us</h1>
        <form action="{% url 'contact' %}" method="POST">
          {% csrf_token %}
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />
    
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
    
          <label for="message">Message:</label>
          <textarea id="message" name="message" rows="5" required></textarea>
    
          <input type="submit" value="Submit" />
        </form>
      </div>
    </section>
    
    <div class="footer">
        <p>&copy; 2024 Your Website</p>
      </div>

  </body>
</html>
