{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <nav>
    <img src="media/images/coffee.png" alt="Logo" class="logo">
    <ul class="menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
    <div class="right-menu">
      <form class="search-form">
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
      </form>
      <div class="language-selector">
        <a href="#">En</a> | <a href="#">Ru</a>
      </div>
    </div>
  </nav>

  <section class="section">
    {% for x in mem %}
    <div class="card">
      <img class="img" src="{{ x.image.url }}" alt="{{ x.firstname }} {{ x.lastname }}">
      <div class="card-content">
        <h3>{{ x.firstname }} {{ x.lastname }}</h3>
        <p>{{ x.position }}</p>
      </div>
    </div>
    {% endfor %}
  </section>

  <div class="footer">
    <p>&copy; 2024</p>
  </div>
</body>
</html>
